[*]
charset = utf-8

# According to PSR-12
[*.php]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# According to the Google Style Guide
[*.{html,css,js}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
